/*
Project: Personal Website
Description: This is our personal site project. It will be posted on Github using gh-pages.
Color Theme:
  - Primary Color: #9A8F97
  - Secondary Color: #E9E3E6
  - Complement Color: #C3BABA (periwinkle)
  - Base Color: #B2B2B2
  ** #E2E1E9 (whiteish)
  *** #94947E (sage)
  -contain-yourself border: #F66D0D
*/
/*===== Global Styles =====*/
body, html {
margin: 0;
padding: 0;
}

/*Get rid of bullets*/
ul {
  list-style: none;
}

/*Get rid of the underline*/
a {
  text-decoration: none;
  color: #CCC9D1;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
}

.logo a {
  text-decoration: none;
  color: #000;
}

#about-me {
  margin: 0;
}


.container {
  margin-left: 15px;
  margin-right: 15px;
}

.border {
  border-bottom: 2px solid #fff;
  padding: 20px 0px;
}

#footer {
  margin:0;
}

#footer h5 {
  margin: 0;
}

#contact-me {
  margin:0;
}
#contact-me h1 {
  margin:0;
}

.map-box {
  margin: 0;
}


/*===== Header Styles =====*/
header{
  height: 100px;
  background-color: #9A8F97;
}

/*To control the color of list items in header*/
header a {
  color: #CCC9D1;
}

.logo {
  width: 30%;
  float: left;
  margin-top: 30px;
}

.logo h1 {
  text-align: center;
  margin: 0;
}

.menu {
  width: 30%;
  float: left;
  margin-top: 25px;
}

.menu li {
  float: left;
  padding-left: 10px;
}

/*To put the line between list items*/
.menu li:after{
  padding-left: 10px;
  content: " | "
}

.sm-icons {
  width: 30%;
  float: right;
  margin-top: 40px;
}

.sm-icons a{
  padding-right: 7px;
}

.contact-icons {
  width: 30%;
  position: center;
}


/*===== Banner Styles =====*/

#banner{
  height: 400px;
  background: url("../img/mountains.jpg");
  background-size:cover;
  background-attachment: fixed;
  color: #000;
}

#banner h1 {
  font-size: 3em;
  margin-top: 35px;
}
.banner-text{
  padding: 90px 0;
  margin: 0;
  text-align: center;
}
.contain-yourself {
  width: 675px;
  height: 120px;
  margin: 60px 262px;
  border: 3px solid #F66D0D;
}


/**/
.border{
  border-bottom: 1px solid #bbb;
}
#services{
  padding: 30px 0px;
  height: 500px;
}

#services .box{
  width: 25%;
  margin: 0 1%;
  float:left;
  height: 100%;
  padding: 15px 20px;
  border: 2px solid #333;
  height: 100%;
}

/*===== Skills Styles =====*/

#skills {
  background-color: #E9E3E6;
  height: 475px;
  color: #fff;
}

#skills .box {
  height: 100%;
  width: 25%;
  border: 2px solid #9A8F97;
  display: inline-block;
  margin: 30px 2% 10px 2%;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #B2B2B2;
  /*you can mix and match pixels and percentages!*/
}

.skills-icon {
  height: 50px;
  width: 50px;
  margin: 0px auto;
  border: 2px solid #9A8F97;
  border-radius: 100%;
  background-color: #fff;
}

.skills-icon i {
  font-size: 2em;
  color: #171526;
  margin: 2px 3px;
  padding: 7px 7px;
}
.fa-html5:before {
    content: "\f13b";
    padding-left: 3px;
}


.skills-info h2 {
  text-align: center;
  margin-top: 20px;
}

.skills-info p {
  text-align: justify;
  line-height: 22px;
}

/*===== About Me Styles =====*/
#about-me {
 background-color: #94947E;
 height: 350px;
 width: 100%;

}

.selfie img {
  height: 30%;
  width: 30%;
  float: left;
  margin: 50px;
  border-radius: 50%;
}

.personal-info {
  height: 60%;
  width: 60%;
  float: right;
  margin-top: 50px;
  text-align: justify;
}

.personal-info h1 {
  text-align: center;
}

/*===== Footer Styles =====*/
#footer {
  height: 150px;
  width: 100%;
  background-color: #CCC9D1;
  padding-top: 50px;
}

#footer h5 {
  color: #fff;
  text-align: center;
}



.contact {
  margin: 20px auto;
  width: 190px;
  height: 50px;

}

.contact h5 {
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.contact-icons {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #9A8F97;
  margin: 0px auto;
  border: 2px solid #9A8F97;
  border-radius: 100%;
  float: left;
  margin-left: 8px;

}

.contact-icons i {
  color: #CCC9D1;
  font-size: 2em;
  padding: 7px 7px;
  margin: 2px 3px;
}


/*===== ABOUT PAGE STYLES =====*/

/*==== Video Section =====*/
#video-sec {
  height: 600px;
  width: 100%;
  background-color: #5F6273;
}

.vid-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-left: 154.5px;

}

#video-sec iframe {
  width: 75%;
  height: 100%;
}

/*===== About Me Styles =====*/
#about {
  height: 400px;
  width: 100%;
  background-color: #A4ABBF;
}

#about h1 {
  text-align: center;
  margin-top: 75px;
}

#about p {
  display: inline-block;
  margin: 25px 25px 25px 50px;
  float: left;
  text-align: justify;
}
.bio {
  height: 75%;
  width: 60%;
  float: left;
}

.portrait img {
  height: 30%;
  width: 30%;
  float: right;
  margin: 57px 61px;
  border-radius: 10%;
}

/*===== Contact Page Styles =====*/
 /*===== Map Section =====*/
#map-sec {
  height: 460px;
  width: 100%;
  background-color: #C3BABA;
}

.map-box iframe {
  width: 100%;
  pointer-events: none;
}



/*===== Contact Form Style =====*/
#contact-me {
  width: 100%;
  height: 400px;
  background-color: #94947E;
}

#contact-me h1 {
  text-align: center;
  width: 200px;
  margin-left: 315px;
  padding-top: 35px;
  color: #fff;
  font-family: sans-serif;
}

/*.user-info {
  width: 60%;
  height: 75%;
  float: left;
}*/

.user-fields {
  height: 75%;
  width: 500px;
  margin: 0px auto;
  float: left;
  padding-left: 163px;
}

.bar input {
  width: 100%;
  height: 35px;
}

.message textarea {
  width: 100%;
  height: 75px;
}

.my-info {
  width: 200px;
  height: 150px;
  float: right;
  padding-right: 125px;
}

.my-info p {
  color: #fff;
}

.submit {
  float: right;
  padding-right: 230px;
}
